<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      Séries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>17 de dezembro de 1989</ion-card-subtitle>
      <ion-card-title>Os Simpsons</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
    <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/qcr9bBY6MVeLzriKCmJOv1562uY.jpg"/>
    <p>Situado em Springfield, a cidade americana média, o programa enfoca as palhaçadas e as aventuras cotidianas da família Simpson; Homer, Marge, Bart, Lisa e Maggie, bem como um elenco virtual de milhares. Desde o início, a série tem sido um ícone da cultura pop, atraindo centenas de celebridades para a estrela convidada. O programa também ganhou nome em sua visão satírica destemida sobre política, mídia e vida americana em geral.
      <ion-button expand="block" fill="outline">Mais informações...</ion-button>
    </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>02 de dezembro de 2013</ion-card-subtitle>
      <ion-card-title>Rick e Morty</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
    <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/qJdfO3ahgAMf2rcmhoqngjBBZW1.jpg"/>
    <p>Rick é um velho mentalmente desequilibrado, mas cientificamente talentoso que se reconectou recentemente com sua família. Ele passa a maior parte do tempo envolvendo o jovem neto Morty em aventuras perigosas e estranhas por toda parte… </p>
      <ion-button expand="block" fill="outline">Mais informações...</ion-button>
    </p>
    </ion-card-content>
  </ion-card>

</ion-content>
  

