<ion-header [translucent]="true">
  <ion-toolbar color ="primary">
    <ion-title>
      Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>Vingadores Utimato</h1>
        <h2>24 de abril de 2019</h2>
        <img src= "https://image.tmdb.org/t/p/w185_and_h278_bestv2/or06FN3Dka5tukK1e9sl16pB3iy.jpg"/>
        <p>Após os eventos devastadores de Vingadores: Guerra Infinita, o universo está em ruínas devido aos esforços do Titã Louco, Thanos. Com a ajuda dos aliados restantes, os Vingadores devem se reunir mais uma vez para desfazer… </p>
        <ion-button expand="block" fill="outline">Mais informações..</ion-button>
      </ion-col>


     <ion-col>
        <h1>The Lion King</h1>
        <h2>12 de julho de 2019</h2>
        <img src= "https://image.tmdb.org/t/p/w185_and_h278_bestv2/2bXbqYdUdNVa8VIWXVfclP2ICtT.jpg"/>
        <p> Simba idolatra seu pai, o rei Mufasa, e leva a sério seu próprio destino real. Mas nem todos no reino comemoram a chegada do novo filhote. Scar, o irmão de Mufasa - e ex-herdeiro do trono - tem planos ... </p>
        <ion-button expand="block" fill="outline">Mais informações...</ion-button>
      </ion-col>
      
      
    </ion-row>
    <ion-row>
      <ion-col>
        <h1>Para todos os Garotos que ja amei</h1>
        <h2>16 de agosto de 2018</h2>
        <img src= "https://image.tmdb.org/t/p/w185_and_h278_bestv2/hKHZhUbIyUAjcSrqJThFGYIR6kI.jpg"/>
        <p>A vida amorosa de Lara Jean passa do imaginário para o descontrolado quando suas cartas secretas para todos os garotos por quem ela se apaixona são misteriosamente enviadas.</p>
        <ion-button expand="block" fill="outline">Mais informações..</ion-button>
      </ion-col>


     <ion-col>
        <h1>Frozen</h1>
        <h2>27 de novembro de 2013</h2>
        <img src= "https://image.tmdb.org/t/p/w185_and_h278_bestv2/eFnGmj63QPUpK7QUWSOUhypIQOT.jpg"/>
        <p> A jovem princesa Anna de Arendelle sonha em encontrar o verdadeiro amor na coroação da irmã Elsa. O destino a leva a uma jornada perigosa na tentativa de acabar com o inverno eterno que caiu sobre o reino. Ela… </p>
        <ion-button expand="block" fill="outline">Mais informações...</ion-button>
      </ion-col>
      
      
    </ion-row>
    </ion-grid>
</ion-content>
